html {
    font-size: 16px;
}

textarea {
    min-height: 400px;
}

/* #emails-view {
    background-color: bisque;
} */

.mailboxEmails {
    display: flex;
    justify-content: space-between;
    margin: 3px;
    padding: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.45);
    text-align: center;
    background-color: rgba(255, 228, 196, 0.45);
    cursor: pointer;
    width: 100%;
}

.mailboxEmails:hover {
    background-color: rgba(255, 228, 196, 0.8);
    border: 1px solid rgba(128, 128, 128, 0.85);
}

.from{
    display: inline-block;
    max-width: 25rem;
    margin-left: 2%;
    font-weight: 500;
}

.subject {
    display: inline-block;
    max-width: 15rem;
    font-weight: 500;
}

.timestamp {
    display: inline-block;
    max-width: 15rem;
    margin-right: 2%;
    color: gray;
    font-style: italic;
    font-size: 0.8rem;
}

.readStatus {
    background-color: rgba(128, 128, 128, 0.3);
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.95rem;
    font-style: italic;
}

.readStatus:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

#readEmailInfo {
    line-height: 0.6rem;
}

.emailContainer {
    display:flex;
    justify-content: space-between;
}

.buttonEmail {
    display: inline-block;
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.1rem;
    margin-bottom: 0.1rem;
    background-color: rgba(159, 163, 163, 0.60);
}

.buttonEmail:hover {
    background-color: rgba(159, 163, 163, 0.80);
}

.buttonEmail:active {
    border: none;
}

/* @keyframes remove {
    from {

    }
    to {

    }
} */